*/.idea
*/.vs
*/.vscode

*/**/obj
*/**/bin
*/**/Upload
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release

/.idea/.idea.Tiveriad/.idea/contentModel.xml
/.idea/.idea.Tiveriad/.idea/encodings.xml
/.idea/.idea.Tiveriad/.idea/indexLayout.xml
/.idea/.idea.Tiveriad/.idea/modules.xml
/.idea/.idea.Tiveriad/.idea/projectSettingsUpdater.xml
/.idea/.idea.Tiveriad/.idea/workspace.xml
/.idea/.idea.Tiveriad/riderModule.iml
/Output
/Output/*/**
/Publish
/Publish/*/**
/TestResults
/TestResults/*/**
/Tiveriad.sln.DotSettings.user
/Tests/Tiveriad.Commons.UnitTests/.idea/.idea.Tiveriad.Commons.UnitTests.dir/.idea/contentModel.xml
/Tests/Tiveriad.Commons.UnitTests/.idea/.idea.Tiveriad.Commons.UnitTests.dir/.idea/encodings.xml
/Tests/Tiveriad.Commons.UnitTests/.idea/.idea.Tiveriad.Commons.UnitTests.dir/.idea/indexLayout.xml
/Tests/Tiveriad.Commons.UnitTests/.idea/.idea.Tiveriad.Commons.UnitTests.dir/.idea/modules.xml
/Tests/Tiveriad.Commons.UnitTests/.idea/.idea.Tiveriad.Commons.UnitTests.dir/.idea/projectSettingsUpdater.xml
/Tests/Tiveriad.Commons.UnitTests/.idea/.idea.Tiveriad.Commons.UnitTests.dir/.idea/workspace.xml
/Tests/Tiveriad.Commons.UnitTests/.idea/.idea.Tiveriad.Commons.UnitTests.dir/riderModule.iml
/.idea/.idea.Tiveriad/.idea/vcs.xml
/.idea/.idea.Tiveriad/.idea/.name
